@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1440px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .header-section {
    display: block;
  }
  .header-section {
    padding-bottom: 24px;
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    width: 494px;
    margin: 0 auto;
    margin-bottom: 48px;
  }

  .activity-icon {
    display: flex;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .activity-list {
    display: flex;
    justify-content: center;
    font-size: 0;
    gap: 24px;
  }
  .activity {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .activity,
  .foto {
    background-color: #fff;
  }
  .foto {
    padding-bottom: 120px;
  }
  .foto {
    display: block;
  }
  .foto-list {
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .foto-item {
    width: calc((100 - 48px) / 3);
  }
  .foto-title {
    margin-bottom: 72px;
  }
  .foto-title,
  .team-members-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--first-text-color);
    margin-bottom: 72px;
  }

  .team-members {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .footer > .container {
    display: flex;
    width: 1158px;
    padding-left: 30px;
    margin-right: 45px;
    margin: 0 auto;
  }
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .logo.footer {
    padding: 0;
    padding-bottom: 16px;
  }

  .soc-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
  }

  .footer > .container {
    display: flex;
  }

  .cos-media-list {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
  }

  .social-media {

    margin-top: 0;
  }

  .soc-media-item {
    width: 40px;
    height: 40px;
  }

  .soc-media-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: var(--dur);
    transition-timing-function: var(--timing);
  }

  .soc-media-link:hover,
  .soc-media-link:focus {
    background-color: #31d0aa;
  }

  .footer-input-title {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--hover-text-btn-color);
    margin-bottom: 16px;
  }

  .footer-input {
    width: 264px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
  }

  .footer-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
  }

  .test {
    display: flex;
    gap: 16px;
  }

  .subcribe-footer-btn {
    background-color: #4d5ae5;
    border-radius: 4px;
    width: 165px;
    height: 40px;
    color: var(--btn-fon-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 16px;
    letter-spacing: 0.04em;
    padding-left: 24px;
    border: 0;
  }
  /* ------------ACTIVITY-------------- */
  .activity,
  .foto {
    background-color: #fff;
  }
  .foto {
    padding-bottom: 120px;
  }
  .activity {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .activity-icon {
    display: flex;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }

  .activity-list {
    display: flex;
    justify-content: center;
    font-size: 0;
    gap: 24px;
  }

  .activity-item {
    font-size: 1rem;
  }

  .activity-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
  }
  .activity-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
    width: 264px;
    margin-top: 8px;
  }

  .activity-item:last-child {
    margin-right: 0;
  }
  .team-members {
    background-color: var(--btn-fon-color);
  }
  .foto-item {
    width: calc((100 - 48px) / 3);
  }
  .foto-title {
    margin-bottom: 72px;
  }
  .foto-title,
  .team-members-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--first-text-color);
    margin-bottom: 72px;
  }
  /* ------------------TEAM-SECTION--------------- */
  .team-members > .container {
    width: 1158px;
  }

  .team-members-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  /* -------------------HEADER------------------------ */
  .nav-wrap {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 76px;
  }
  .header-nav {
    display: flex;
    gap: 40px;
  }

  .burger,
  .mob-menu {
    display: none;
  }
  .header-section > .container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
  }

  .contacts-nav {
    display: flex;
    align-items: flex-end;
    gap: 40px;
  }

  .header-nav-link.link,
  .contacts-nav-link.link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
    position: relative;
    transition-property: color;
    transition-duration: var(--dur);
    transition-timing-function: var(--timing);
  }

  .contacts-nav {
    font-style: normal;
    font-weight: 400;
  }
  .header-nav-link:hover,
  .header-nav-link:focus,
  .contacts-nav-link:hover,
  .contacts-nav-link:focus {
    color: var(--btn-hover-fon);
  }

  /*--------------MODAL------------------- */
  .backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal {
    position: absolute;
    left: 50%;
    top: 88px;
    transform: translateX(-50%) scale(1);
    width: 408px;
    min-height: 576px;
    padding: 24px;
    margin: 0;
  }
  /* -----------------------FOOTER----------------- */
  .footer-text {
    min-width: 264px;
    padding: 0;
  }
  .logo.footer {
    display: block;
  }
  .footer-right {
    display: block;
  }
  .soc-media-title {
    margin-top: 0;
    text-align: initial;
  }
  .cos-media-list {
    margin-bottom: 0;
  }
  .subcribe-footer-btn {
    margin-top: 0;
  }
  .footer-input-title {
    display: block;
    text-align: initial;
  }
  .footer-tablet {
    display: flex;
    gap: 102px;
    margin-right: 80px;
    margin-bottom: 0;
  }

  /* ---------------CUSTOMERS----------------- */
  .customers > .container {
    width: 1158px;
  }
  .customers-item {
    width: 168px;
    height: 88px;
  }
  .activity-item-title {
    text-align: initial;
  }
  .customers-list {
    gap:24px;
  }
}
